# 实例

In [1]:
#实例
import requests
from pyquery import PyQuery as pq

url = "https://www.zhihu.com/explore"
headers = {
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
}

html = requests.get(url, headers=headers).text
doc = pq(html)
items = doc('.explore-tab .feed-item').items()
for item in items:
    question = item.find('h2').text()
    author = pq(item.find('.author-link-line').html()).text()
    answer = pq(item.find('.content').html()).text()
    my_file = open('explore.txt', 'a', encoding='utf-8')
    my_file.write('\n'.join([question, author, answer]))
    my_file.write('\n' + '='* 50 + '\n')
    my_file.close()

# 简化写法

In [ ]:
#简化写法
with open('explore.txt', 'a', encoding='utf-8') as file:
    file.write('\n'.join([question, author, answer]))
    file.write('\n' + '='* 50 + '\n')

# JSON文件存储

In [13]:
#json文件存储
#json的数据需要双引号来包围，单引号会报错
#loads()方法将字符串转换为json对象
#dumps()方法将json对象转换为文本字符串

import json 
str1 = '''
[{
    "name": "Bob",
    "gender": "male",
    "birthday": "1992-10-18"
}]
'''

data = json.loads(str1)

with open('data.json', 'r') as f:
    str = f.read()
    data = json.loads(str)
    print(data)

[{
    "name": "Bob",
    "gender": "male",
    "birthday": "1992-10-18"
}]

# JSON输出

In [15]:
#输出json
import json 

data = '''
[{
    "name": "Bob",
    "gender": "male",
    "birthday": "1992-10-18"
}]
'''

with open('data.json', 'w') as f:
    f.write(json.dumps(data, indent=2))

In [19]:
import json

data = [{
    "name": "王伟",
    "gender": "男",
    'birthday': "1992-10-18"
}]

with open('data.json', 'w') as f:
    f.write(json.dumps(data, indent=2))

In [1]:
#为输出中文，需要转码
import json
with open('data.json', 'w', encoding='utf-8') as f:
    f.write(json.dumps(data, indent=2, ensure_ascii=False))

NameError: name 'data' is not defined

# CSV文件存储

In [12]:
#CSV文件存储

import csv

with open('data.csv', 'w') as csvfile:
    writer = csv.writer(csvfile) #通过添加参数delimiter来分隔
    writer.writerow(['id','name','age'])
    writer.writerow(['10001','Mike',20])
    writer.writerow(['10002','Bob',22])
    writer.writerow(['10003','Jordan',21])

In [18]:
#字典写入方式
import csv

with open('data.csv', 'w') as csvfile:
    fieldnames = ['id','name','age']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writerow({'id': '10001', 'name': 'Mike', 'age': '20'})
    writer.writerow({'id': '10002', 'name': 'Bob', 'age': '22'})
    writer.writerow({'id': '10003', 'name': 'Jordan', 'age': '21'})

In [20]:
#写入中文
with open('data.csv', 'a', encoding='utf-8') as csvfile:
    fieldnames = ['id', 'name', 'age']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writerow({'id': '10004', 'name': 'Durant', 'age': '25'})
    writer.writerow({'id': '10005', 'name': '王伟', 'age': '30'})

# CSV文件读取

In [21]:
with open('data.csv', 'r', encoding='utf-8') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        print(row)

['10001', 'Mike', '20']
[]
['10002', 'Bob', '22']
[]
['10003', 'Jordan', '21']
[]
['10004', 'Durant', '25']
[]
['10005', '王伟', '30']
[]
['10004', 'Durant', '25']
[]
['10005', '王伟', '30']
[]

In [24]:
#运用pandas读取csv
import pandas as pd
header = ['id', 'name', 'age']
df = pd.read_csv('data.csv', names=header)
df

      id    name  age
0  10001    Mike   20
1  10002     Bob   22
2  10003  Jordan   21
3  10004  Durant   25
4  10005      王伟   30
5  10004  Durant   25
6  10005      王伟   30